<div class='width-card'>
	<p class='width-card-text'>My name is Dan and I'm a developer and tech enthusiast.</p>
</div>

<div *ngFor= "let card of cards" class='card'>
	<p class='card-title'>{{ card.title }}</p>
	<p class='card-info'>{{ card.info }}</p>
</div>

<!-- <div class='intro'>
	<p>Welcome to my website. My name is Dan, and I'm a developer and tech enthusiast. I built this website not only as a way of displaying my various accomplishments, but also as a learning opportunity to explore various full-stack technologies. This website is currently built with a MEAN stack using Angular2. 
	</p>

	<p>
	So far, my co-ops have revolved around web technologies and full-stack development. After attending a couple workshops, my interests in machine learning, AI, and biotechnologies have been sparked. As such, I'm hoping for a co-op in one of those fields to explore those interests.
	</p>

	<p> 
	At the University of Waterloo, I'm the current VP Communications of the Waterloo Engineering Society, which means I'm managing teams for advertising, photography, and website maintenance, as well as representing the Engineering Society externally at various provincial and national level engineering conferences. These conferences revolve around learning, sharing information with other schools, and the engineering profession itself.
	</p>

	<p> 
	In January I had the incredible opportunity to do an exchange at the Technical University of Denmark for 4 months. I also made the decision to give up a co-op term this summer and take full advantage of the fact that I was in Europe. 9 countries, many cities, and countless photos and memories later, I've returned to Canada with a greater appreciation for home, and expanded world views.
	</p>

	<p>I also got involved with orientation week in second year. I've previously been a Big (front line leader) and a Huge (head front line leader). This year I was an Edcom - making sure that the week itself was organized and running smoothly. I've also previously been involved with EngPlay, Engineering Ambassadors, and the teams I now manage as VP Communications.
	</p>

	<p>
	When I'm not working in the Engineering Society office (or in class), I can be found hanging out with friends in POETS (the student lounge), playing board games, rock climbing, or learning a new language.
	</p>

</div> -->