.project-card{
	text-align: center;
	border-radius:5px;
	display: block;
	margin: 1%;
	margin-left: -25%;
	padding: 10px 20px;
	position:relative;
	left:50%;
	width:50%;
	min-width:21em;
	height: 7em;
	background: rgba(215, 215, 215, 0.6);
	vertical-align: top;
	overflow-y:scroll;
}

.project-title {
	font-weight: 500;
	font-size: 20px;
	text-align: left;
}

.project-summary {
	font-weight: 300;
	font-size: 14px;
	text-align: left;
	color: #222222;
}