.cards {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-gap: 20px;
	margin: 0.5% 1%;
}

.project-card{
	text-align: center;
	border-radius:5px;
	margin: 0.5% 1%;
	padding: 10px 10px;
	background: rgba(214, 214, 228, 0.6);
	vertical-align: top;
	overflow-y:scroll;
}

.project-title {
	font-weight: 500;
	font-size: 20px;
	text-align: left;
}

.project-summary {
	font-weight: 300;
	font-size: 14px;
	text-align: left;
	color: #222222;
}