.navbar {
	border-radius:0;
}

.left{
	float:left !important;
	position: absolute;
	left: 0;
	top: 0;
}

#navbar {
	position: absolute;
	left:0;
	right:0;
	text-align: center;
}

.navbar-nav {
	float: none;
	display: inline-block;
}

.toggleMenuStyle {
	display: block !important;
	background-color: #333333;
	position: relative !important;
}
