<div class='fluid-container'>
    <nav class='navbar navbar-inverse bg-inverse'>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="nav navbar-nav">
                <a class='navbar-brand left' routerLink='/'>DjR</a>
                <a class="navbar-brand" routerLink='/about'>About</a>
                <a class="navbar-brand" routerLink='/project-list'>Projects</a>
                <a class="navbar-brand" routerLink='/course-list'>Courses</a>
                <a class="navbar-brand" routerLink='/resume'>Resume</a>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
    <nav id='footer' class='navbar navbar-inverse navbar-fixed-bottom'>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="nav navbar-nav">
                <a class='navbar-brand link' href="https://ca.linkedin.com/in/dj2rober"><span class="fa fa-3x fa-linkedin-square"></span></a>
                <a class='navbar-brand link' href="https://github.com/dj2rober"><span class="fa fa-3x fa-github-square"></span></a>
                <a class='navbar-brand link' href="mailto:daniel.robertson95@gmail.com" type="email"><span class="fa fa-3x fa-envelope"></span></a>
            </div>
        </div>
    </nav>
</div>