body:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    /*background-color: rgba(245, 245, 245, 0.6);*/
    background-image: url('app/resources/morocco.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: -9;
    overflow: hidden;
}

.loader {
    text-align: center;
}
