<div class='home-info'>
	<h1 >Dan Robertson</h1>
	<h3>University of Waterloo | Computer Engineering</h3>
	<div id="navbar" class="navbar-collapse collapse">  
		<div class="nav navbar-nav">
	        <a class='navbar-brand link' href="https://ca.linkedin.com/in/dj2rober"><span class="fa fa-3x fa-linkedin-square"></span></a>
	        <a class='navbar-brand link' href="https://github.com/dj2rober"><span class="fa fa-3x fa-github-square"></span></a>
	        <a class='navbar-brand link' href="mailto:daniel.robertson95@gmail.com" type="email"><span class="fa fa-3x fa-envelope"></span></a>
	    </div>
    </div>
</div>